/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');

.numbers {
  display: flex;
  gap: 24px;
  text-align: center;
  max-width: 346px;
  max-height:72px;
opacity: 0px;
width: 100%;
opacity: 0px;
justify-content: center; 
}

.field {
  display: flex;
  flex-direction: column;
}

.picker {
  gap: 8px;
  width: 100%;
  opacity: 0px;
  justify-content: center; 
}

.data-text {
  width: 272px;
height: 40px;
}

.data-btn {
  width: 75px;
height: 40px;
padding: 8px 16px 8px 16px;
gap: 10px;
border-radius: 8px;
opacity: 0px;
background: #4E75FF;
color: #FFFFFF;
border: none;
}

.value {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-align: left;
}

.label {
  font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

}

.data-btn:hover {
  background: #6C8CFF;
 color: #FFFFFF;
}

.data-btn:disabled {
  background: #CFCFCF;
color: #989898;
;
}

.timer {
  display: flex;
  flex-direction: column;
  gap: 32px;
padding-left: 156px;
padding-top: 36px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 360px;
  padding-left: 156px;
  padding-top: 36px;
}

.delay {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.delay-input {
  max-width: 100%;
  height: 40px;
  border: 1px solid #808080;
}

.state {
  max-width: 100%;
  height: 64px;
  border: 1px solid #808080
}

.snkbr-btn {
  max-width: 100%; 
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background: #4E75FF;
  color: #FFFFFF;
}

.snkbr-btn:hover {
  background: #6C8CFF;
}

.delay-input:hover,
.delay-input:focus,
.state:hover,
.state:focus {
  border-color: #000000;
}


h1 {
  visibility: hidden;
}

